.search {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.search__input {
    width: 100%;
    padding: 16px;

    outline: none;
}

.search__input::placeholder {
    color: var(--primary-color);
}
